body {
    font-family: 'Arial', sans-serif;
    background-color: #141414; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff; 
}

.container {
    background-color: #1f1f1f; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 400px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #e0e0e0; 
}

.password-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d; 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#password {
    width: 80%;
    padding: 10px;
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: #fff; 
    outline: none;
}

#copy-btn {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #4caf50; 
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#copy-btn:hover {
    background-color: #45b300; 
}

.options {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin: 15px 0;
    font-size: 16px;
    color: #e0e0e0; 
}

input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

.strength {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d; 
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.strength span {
    font-size: 16px;
    color: #e0e0e0; 
}

.strength-bar {
    width: 100px;
    height: 10px;
    background-color: #141414; 
    border-radius: 5px;
    overflow: hidden;
    margin: 0 10px;
}

.bar {
    height: 100%;
    width: 0;
    background-color: #28a745; 
    transition: width 0.3s;
}

#strength-text {
    font-size: 16px;
    font-weight: bold;
    color: #e0e0e0; 
}

#generate-btn {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: none;
    background-color: #4caf50; 
    border-radius: 5px;
    cursor: pointer;
}

#generate-btn:hover {
    background-color: #45b300; 
}